body { background: #eee; }

/*.form-heading { color: #fff; font-size: 23px; }*/
.main-form {
  max-width: 35%;
  margin: 65px auto 30px;
  padding: 35px;
  border-radius: 2px;
  box-shadow: 1px 2px 2px #999;
  text-align: center;
  background: #fafafa none repeat scroll 0 0;
}
  .main-form .title-login {
    background: inherit !important;
  }
  .title-login h2{ color: #333; font-size: 22px; margin: 0 0 8px 0; }
  .title-login h3{ color: #333; font-size: 18px; margin: 0 0 25px 0; }
  .title-login img { width: 128px; height: 128px; margin-bottom: 25px; }
  .title-login p { color: #777; font-size: 14px; margin-bottom: 10px; }

  .main-form .form-control {
    border-radius: 3px;
    font-size: 14px;
    line-height: 50px;
  }

  .main-form .form-group { margin-bottom: 10px; }

  .main-form .btn-login {
    width: 30%;
    padding: 9px;
    font-size: 15px;
    border-color: #FF8C00;
    background: #FF8C00;
    color: #efefef;
    float: left;
  }
    .main-form .btn-login:hover {
      border-color: #F0AD4E;
      background: #F0AD4E;
      color: #fff;
    }

/* CLEAR FIX */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}