header {
	height: 75px;
	background: #00008B; /* Dark Blue */
}

.divider {
	border: 1px solid #cacaca;
}

.no-border {
    border: 0;
    box-shadow: none;
	background-color: #d1d1d1;
}

.navbar.navbar-default {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
}
	.navbar.navbar-default .navbar-brand { padding-top: 5px; }
	.navbar.navbar-default .navbar-brand img { width: 64px; }

	.navbar.navbar-default .container, 
	.navbar.navbar-default .navbar-header, 
	.navbar.navbar-default .navbar-collapse, 
	.navbar-collapse .navbar-nav li, 
	.navbar-collapse .navbar-nav li a {
		height: 100%;
	}
	.navbar-collapse .navbar-nav {
		-webkit-margin-before: 0px;
	    -webkit-margin-after: 0px;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    -webkit-padding-start: 20px;
	    height: 75px;
	}
	.navbar-collapse .navbar-nav > li > a {
		padding-top: 25px;
		color: #eee;
	}
	.navbar-collapse .navbar-nav > .open > a, 
	.navbar-collapse .navbar-nav > .open > a:focus, 
	.navbar-collapse .navbar-nav > .open > a:hover, 
	.navbar-collapse .navbar-nav > li:hover > a {
    	background: #191970; /* MidnightBlue */
    	color: #fff; /* Light Green */
	}

	.navbar-collapse .navbar-right .poto-profil img {
		margin: 12px auto;
		border: 2px solid lightblue;
	}
	.navbar-collapse .navbar-right > .open > a, 
	.navbar-collapse .navbar-right > .open > a:focus, 
	.navbar-collapse .navbar-right > .open > a:hover, 
	.navbar-collapse .navbar-right > li:hover > a {
    	background: inherit;
    	color: #fff; /* Light Green */
	}

/* CONTENT */
.content {
	min-height: 550px;
	padding: 10px;
}
	.content .page-header, .content .page-header h3 { margin: 5px 0; }
	.content .logo { margin: 25px 0; }
	.content .box {
		min-width: 200px;
		min-height: 150px;
		background: salmon;
	}

.content-data {
	padding-left: 40px;
	padding-right: 40px;
}
	.content-data .breadcrumb {
		margin-bottom: 0;
	}
	.content-data .tambah { padding: 15px 0; }

/* fieldset */
div.fieldset-row {
	margin-top: 15px;
	margin-left: 0;
	margin-right: 0;
	background-color: #87CEFA;
	box-shadow: 2px 3px 3px #888;
	border-radius: 5px;
}

fieldset.scheduler-border {
	font-size: 1em;
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 15px 0 15px 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto; /* Or inherit */
    padding: 0 5px; /* Memberikan jarak ke dalam sisi kanan dan kiri tulisan <legend> */
    border-bottom: none;
}
/* end fieldset */

.form-input { margin: 15px 0; }
	.form-input span { color: #FF0000; }
	.form-input .pesan { padding: 5px 0; }
	.pesan .pesan-text {
		margin-bottom: 0;
		font-size: 12px;
		font-style: italic;
	}

#form-jabatan input#nama_jabatan[type=text], 
#form-direktori input#id_direktori[type=text], 
#form-direktori input#id_direktori_baru[type=text], 
#form-detail-unitkerja input#nama_detail[type=text] {
	text-transform: uppercase;
}

a.detail-unit-kerja {
	text-decoration: none;
	color: #333;
}
	.detail-unit-kerja:hover {
		color: #0044CC;
	}
/* END OF CONTENT */

/* FOOTER */
footer {
	padding: 14px;
	background: #1D1D1D;
	color: #eee;
}
/* END FOOTER */

/* CLEAR FIX */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}