.visimisi .row:nth-child(2), .visimisi .row:nth-child(3) {
    padding: 20px;
}

.box-visi, .box-misi {
	padding-top: 40px;
	border: 1px solid #888;
	border-radius: 50px 15px;
	box-shadow: 1px 2px 2px #888;
	background-color: #f9f9f9;
}
	.box-visi h3, .box-misi h3 {
		position: absolute;
		top: -35px;
		left: 40%;
		width: 150px;
		padding: 5px;
		border-radius: 3px;
		background-color: #6495ED;
		color: #333;
	}

@media screen and (max-width: 767px) {
	.box-visi h3, .box-misi h3 {
		position: absolute;
		top: -35px;
		left: 25%;
		width: 150px;
		padding: 5px;
		border-radius: 3px;
	}
}